Repository NationalSecurityAgency/emissary, pull requests merged in 2025-02, with the labels that each got.

#1054 pmd :: UselessParentheses
  src/main/java/emissary/core/BaseDataObject.java
  src/main/java/emissary/core/HDMobileAgent.java
  src/main/java/emissary/core/MobileAgent.java
  src/main/java/emissary/directory/DirectoryEntry.java
  src/main/java/emissary/directory/DirectoryEntryList.java
  src/main/java/emissary/directory/DirectoryPlace.java
  src/main/java/emissary/directory/HeartbeatManager.java
  src/main/java/emissary/directory/KeyManipulator.java
  src/main/java/emissary/id/IdPlace.java
  src/main/java/emissary/kff/ChecksumCalculator.java
  src/main/java/emissary/kff/EditDistance.java
  src/main/java/emissary/kff/KffFile.java
  src/main/java/emissary/kff/Ssdeep.java
  src/main/java/emissary/output/DropOffPlace.java
  src/main/java/emissary/output/DropOffUtil.java
  src/main/java/emissary/output/roller/journal/JournalReader.java
  src/main/java/emissary/parser/InputSession.java
  src/main/java/emissary/pickup/PickUpPlace.java
  src/main/java/emissary/pickup/WorkSpace.java
  src/main/java/emissary/place/CoordinationPlace.java
  src/main/java/emissary/place/ServiceProviderPlace.java
  src/main/java/emissary/place/sample/DevNullPlace.java
  src/main/java/emissary/roll/Roller.java
  src/main/java/emissary/server/api/Pause.java
  src/main/java/emissary/server/mvc/DumpDirectoryAction.java
  src/main/java/emissary/server/mvc/adapters/RequestUtil.java
  src/main/java/emissary/server/mvc/adapters/WorkSpaceAdapter.java
  src/main/java/emissary/util/ByteUtil.java
  src/main/java/emissary/util/LineTokenizer.java
  src/main/java/emissary/util/io/FastStringBuffer.java
  src/main/java/emissary/util/io/FileFind.java
  src/main/java/emissary/util/io/ResourceReader.java
  src/main/java/emissary/util/magic/MagicMath.java
  src/main/java/emissary/util/magic/MagicNumber.java
  src/main/java/emissary/util/search/ByteTokenizer.java
  src/main/java/emissary/util/search/KeywordScanner.java
  src/test/java/emissary/output/roller/journal/JournaledChannelPoolTest.java
  src/test/java/emissary/output/roller/journal/JournaledChannelTest.java
  src/test/java/emissary/util/WindowedSeekableByteChannelTest.java
Labels: tech-debt

#1055 pmd :: EmptyCatchBlock
  src/main/java/emissary/admin/PlaceStarter.java
  src/main/java/emissary/command/Banner.java
  src/main/java/emissary/core/FilePickUpPlaceHealthCheck.java
  src/main/java/emissary/core/HDMobileAgent.java
  src/main/java/emissary/core/IBaseDataObjectHelper.java
  src/main/java/emissary/core/channels/BufferedChannelFactory.java
  src/main/java/emissary/core/channels/SeekableByteChannelHelper.java
  src/main/java/emissary/directory/DirectoryEntry.java
  src/main/java/emissary/directory/EmissaryNode.java
  src/main/java/emissary/directory/KeyManipulator.java
  src/main/java/emissary/kff/ChecksumCalculator.java
  src/main/java/emissary/kff/Ssdeep.java
  src/main/java/emissary/pool/PayloadLauncher.java
  src/main/java/emissary/server/EmissaryServer.java
  src/main/java/emissary/server/api/Shutdown.java
  src/main/java/emissary/util/DateTimeFormatParser.java
  src/main/java/emissary/util/Version.java
  src/main/java/emissary/util/io/ReadOutput.java
  src/main/java/emissary/util/os/OSReleaseUtil.java
  src/main/java/emissary/util/search/ByteMatcher.java
  src/main/java/emissary/util/search/ByteTokenizer.java
  src/main/java/emissary/util/shell/ReadBinaryOutputBuffer.java
  src/main/java/emissary/util/shell/ReadOutputBuffer.java
  src/main/java/emissary/util/shell/ReadOutputLogger.java
  src/main/java/emissary/util/web/HtmlEscaper.java
  src/test/java/emissary/config/ServiceConfigGuideTest.java
  src/test/java/emissary/core/FTestMovingAgent.java
  src/test/java/emissary/core/ResourceWatcherTest.java
  src/test/java/emissary/pickup/BreakableFilePickUpClient.java
  src/test/java/emissary/test/core/junit5/FunctionalTest.java
  src/test/java/emissary/util/io/ResourceReaderTest.java
Labels: tech-debt

#1057 Specify difference messages in test code for IBaseDataObjectDiffHelper.
  src/test/java/emissary/core/IBaseDataObjectDiffHelperTest.java
Labels: test-only

#1033 dependencies: bump logback from 1.4.14 to 1.5.13
  pom.xml
Labels: dependencies, security

#1059 add test to show ServiceConfigGuide re-orders ConfigEntries when merging
  src/test/java/emissary/config/ServiceConfigGuideTest.java
Labels: test-only

#1062 Added Configurator findStringMatchMultiMap overload that takes a preserveOrder flag
  src/main/java/emissary/config/Configurator.java
  src/main/java/emissary/config/ServiceConfigGuide.java
  src/test/java/emissary/config/ServiceConfigGuideTest.java
Labels: improvement

#1063 Performance improvement for InputStreamChannelFactory.
  src/main/java/emissary/core/channels/InputStreamChannelFactory.java
  src/test/java/emissary/core/channels/InputStreamChannelFactoryTest.java
Labels: improvement

#1067 adding verification for ProcessingErrors in testing answer files
  src/test/java/emissary/test/core/junit5/ExtractionTest.java
  src/test/java/emissary/test/core/junit5/TestExtractionTest.java
  src/test/resources/emissary/test/core/junit5/ProcessingErrorTest.xml
Labels: test-only

#1071 add ability to check ID_LIKE for ubuntu in OSReleaseUtil
  src/main/java/emissary/util/os/OSReleaseUtil.java
  src/test/java/emissary/util/os/OSReleaseUtilTest.java
  src/test/resources/emissary/util/os/pop22
Labels: enhancement

#1068 adding analyze goal to maven-dependency-plugin
  pom.xml
Labels: BPD

#1064 Add optional RegressionTest encoders that always hash.
  src/main/java/emissary/core/IBaseDataObjectXmlCodecs.java
  src/test/java/emissary/core/IBaseDataObjectXmlHelperTest.java
  src/test/java/emissary/test/core/junit5/RegressionTest.java
Labels: test-only
